body {
    background: #000 !important;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.2);
}

.Logo img {
    padding-left: 10px;
    display: flex;
}

.SocialButtons {
    display: flex;
    size: 10px;
}

.apple-logo-icon {
    width: 21.94px;
    height: 24px;
    margin-right: 20px;
}

.other-icon {
    width: 28px;
    height: 28px;
    margin-right: 12px;
    transition: transform 0.3s ease-in-out;
}

.other-icon:hover {
    transform: scale(1.1);
}

.hero-text {
    text-align: center;
    /* margin: 150px 0; */
}

.hero-text h1 {
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 4.5rem;
    margin-bottom: 10px;
    color: #ffffff
}

.hero-text h2 {
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #11ca65;
}

.hero-text h3 {
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    font-style: italic;
}

@media all and (max-width: 850px) {
    .hero-text {
        margin: 50px;
        line-height: 3.5rem;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text h2 {
        font-size: 2rem;
        line-height: 2.7rem;
    }

}

.find-us-section {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
}

.find-us-section h2 {
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ffffff;
}

.team-section {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line */
}

.team-link {
    margin: 20px 100px 20px 100px;
    transition: transform 0.3s ease-in-out;
}

.team-text h2 {
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #11ca65;
}

.team-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 10px;
}

.social-logos {
    display: flex;
    justify-content: space-around;
    margin: 0 30px 0 30px;
}

.social-logo-link {
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.social-logo-link:hover {
    transform: scale(1.05);
}

.recent-episodes-carousel {
    size: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.episode-container{
    size: 10px
}

.center-carousel {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 860px) {
    .find-us-section {
        margin-top: 100px;
    }

    .social-logos {
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }

    .social-logo-link {
        margin-bottom: 1px;
    }

    .Logo img {
        width: 50%;
        height: auto;
    }
}

