body {
    background: #000 !important;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.2);
}

.Logo img {
    padding-left: 10px;
    display: flex;
}

.SocialButtons {
    display: flex;
    size: 10px;
}

.eth-denver-pdf {
    width: 100%;
    height: 100%;
}

.apple-logo-icon {
    width: 21.94px;
    height: 24px;
    margin-right: 20px;
}

.other-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.other-icon:hover {
    transform: scale(1.1);
}

.EpisodeButtons {
    display: flex;
    size: 20px;
}

.episodes-page-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.episodes-page-icon:hover {
    transform: scale(1.1);
}

.episodes-grid {
    margin: 0 auto;
}

.hero-text {
    text-align: center;
    /* margin: 150px 0; */
}

.hero-text h1 {
    padding: 0;
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 4.5rem;
    margin-bottom: 10px;
    color: #ffffff;
    padding-bottom: 30px;
}

.hero-text h2 {
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #11ca65;
    padding-bottom: 70px;
}

.hero-text h3 {
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    font-style: italic;
    padding-bottom: 30px;
}

.hero-text h4 {
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    font-style: bold;
}

@media all and (max-width: 850px) {
    .hero-text {
        margin: 0px;
        line-height: 3.5rem;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text h2 {
        font-size: 2rem;
        line-height: 2.7rem;
    }

}

.find-us-section {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
}

.find-us-section h2 {
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ffffff;
}

.team-section {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line */
}

.team-link {
    margin: 20px 100px 20px 100px;
    transition: transform 0.3s ease-in-out;
    padding: 0,20%;
}

.team-text h2 {
    font-family: "Bebas Neue-Regular", sans-serif;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #11ca65;
}

.team-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.team-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 10px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Keeps the text color consistent */
    width: 100%; /* Ensures the anchor tag takes up the full width of its container */
}

.episode-carousel-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.social-logos {
    display: flex;
    justify-content: space-around;
    margin: 0 30px 0 30px;
}

.episode-logos {
    display: flex;
    justify-content: space-around;
    margin: 0 100px 0 100px;
}

.medium-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    height: 350px; 
}

.episodes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.social-logo-link {
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.social-logo-link:hover {
    transform: scale(1.05);
}

.recent-episodes-carousel {
    size: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.episode-container{
    size: 10px
}

.center-carousel {
    display: flex;
    justify-content: center;
}

.toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modalStyle {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalContentStyle {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: auto;
}
  
.closeButtonStyle {
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
  
.deckButton {
    background-color: #11ca65;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .find-us-section {
        margin-top: 100px;
    }

    .social-logos {
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }

    .social-logo-link {
        margin-bottom: 1px;
    }

    .Logo img {
        width: 50px;
        height: auto;
    }
}

